.container {
    padding: 0;
    margin:  0 auto;
    width:   650px;
}

.canvas {
    border:  none;
    outline: none;
    margin:  0 auto;
    padding: 0;
    display: block;
}

.textarea.info {
    outline: none;
    border:  none;
    display: block;
    margin:  0 auto;
    padding: 0;
    width:   150px;
    height:  550px;
    resize:  none;
    float:   left;
}
